<section class="text-center">
  <div class="container mx-auto">
    <!-- Imagen Principal -->
    <div class="relative w-48 h-48 md:w-64 md:h-64 mx-auto mb-4">
      <img 
        src="/assets/fotop.jpg" 
        alt="Foto"
        class="w-full h-full object-cover rounded-3xl shadow-lg"
      >
    </div>

    <!-- Texto Principal -->
    <h1 class="font-serif text-4xl md:text-5xl text-[#11223a] mb-2">
      Para mi chiqui bella
    </h1>
    <p class="text-lg md:text-xl text-zinc-600 mb-8">
      14/02/2026
    </p>

    <!-- Botón (Opcional) -->
    <img 
      src="/assets/carta.png" 
      alt="Abrir carta" 
      (click)="openLetter.emit()" 
      class="w-24 h-24 mx-auto cursor-pointer hover:scale-110 transition-transform duration-300"
    >
  </div>
</section>


